<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:name=".BattleshipApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_battleship"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_battleship"
        android:supportsRtl="true"
        android:theme="@style/Theme.Battleshipgame"
        tools:targetApi="31">
        <service
            android:name=".services.MusicService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
        <activity
            android:name=".presentation.result.ResultActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Battleshipgame" />
        <activity
            android:name=".presentation.placement.auto.AutoPlacementActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Battleshipgame" />
        <activity
            android:name=".presentation.game.GameActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Battleshipgame" />
        <activity
            android:name=".presentation.loading.LoadingActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Battleshipgame" />
        <activity
            android:name=".presentation.placement.manual.ManualPlacementActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Battleshipgame" />
        <activity
            android:name=".presentation.placement.save.SavePlacementActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.Battleshipgame"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.placement.load.LoadSavedPlacementActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Battleshipgame" />
        <activity
            android:name=".presentation.setup.GameSetupActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Battleshipgame" />
        <activity
            android:name=".presentation.stats.StatsActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Battleshipgame" />
        <activity
            android:name=".presentation.profile.SelectAvatarActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Battleshipgame" />
        <activity
            android:name=".presentation.profile.EditNameActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.Battleshipgame"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.profile.ProfileActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Battleshipgame" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".presentation.help.HelpActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Battleshipgame" />
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Battleshipgame" />
        <activity
            android:name=".presentation.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Battleshipgame">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>